.confirmed {
    border-left: 5px solid #c9302c;
}

.recovered {
    border-left: 5px solid #28a745;
}

.deaths {
    border-left: 5px solid gray;
}

p.title {
    font-size: 18px;
    margin-bottom: 5px;
}

span.count {
    font-weight: bold;
    font-size: 18px;
}
